.block{
  display: block;  
}
.m10{
  margin:10px;
}
.mb10{
  margin-bottom: 10px;
}
.pointer{
  cursor: pointer;
}
.label-primary.pull-right{
  width: 35px;
}
.panel.panel-default{
  min-height: 220px;
}