<div class="container">
	<div class="col-lg-4 col-md-6">
    <div class="panel panel-default" ng-if="myinfoCtrl.registeredUser">
        <div class="panel-heading"><strong>Registered User</strong></div>
        <div class="panel-body">
            <p><strong>First name:</strong> {{myinfoCtrl.registeredUser.firstName}}</p>
            <p><strong>Last name:</strong> {{myinfoCtrl.registeredUser.lastName}}</p>
            <p><strong>Email address:</strong> {{myinfoCtrl.registeredUser.email}}</p>
            <p><strong>Telephone number:</strong> {{myinfoCtrl.registeredUser.telephone}}</p>
						<div class="panel panel-default">
                <div class="panel-heading"><strong>Favorite Menu Item</strong></div>
                <div class="panel-body">
                    <p><strong>{{myinfoCtrl.registeredUser.favoriteDish.name}}</strong><span class="label label-primary m10">{{myinfoCtrl.registeredUser.favoriteDish.short_name}}</span></p>
                    <p>{{myinfoCtrl.registeredUser.favoriteDish.description}}</p>
                    <img ng-src="{{myinfoCtrl.imagesPath}}{{myinfoCtrl.registeredUser.favoriteDish.short_name}}.jpeg">
                </div>
            </div>
        </div>
    </div>
	</div>
	<div class="alert alert-danger" ng-if="!myinfoCtrl.registeredUser" role="alert">
        Not Signed Up Yet. <a ui-sref="public.signup">Sign up Now!</a></div>
</div>
